div {
  border: 7px solid rgb(218, 123, 139);
  width: 400px;
  height: 400px;
  padding: 50px;
  background-image: radial-gradient(
    pink,
    #ff6ec7,
    #e75480,
    #fe7f9c,
    #ff6ec7,
    pink
  );
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  position: relative;
  top: 80px;
}

div > h1 {
  text-align: center;
  color: black;
  font-size: larger;
  font-weight: bolder;
  border: 6px solid transparent;
  background-color: rgb(218, 123, 139);
  border-radius: 10px;
  position: relative;
  top: 199px;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  top: 300px;
  left: 350px;
  /* i used this to help me move my border */
  position: relative;
}

p {
  top: 285px;
  left: 320px;
  position: relative;
}

